<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">

    <title>Inicio - Poncho Digital</title>

</head>

<body>

    <header>

        <h1>Poncho Digital</h1>

        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="../apps/artesanos/templates/artesanos/registro_artesano.html">Registro de Artesanos</a></li>
                <li><a href="../apps/productos/templates/productos/gestion_productos.html">Gestión de Productos</a></li>
            </ul>
        </nav>

    </header>

    <hr>

    <main>

        <section>
            <h2>¡Bienvenidos a la Fiesta Nacional e Internacional del Poncho!</h2>
            <p>Descubra la cultura, el arte y las tradiciones en la feria artesanal y comercial más grande de Catamarca y del país.</p>
            <p>A través de la plataforma <strong>Poncho Digital</strong>, organizadores, visitantes y artesanos pueden conectarse de manera eficiente. Aquí podrá explorar el catálogo de productos regionales, textiles y artesanales, además de localizar fácilmente los diferentes stands dentro del predio.</p>
        </section>

    </main>

    <br><hr>

    <footer>

        <p>&copy; 2026 Ministerio de Cultura - Provincia de Catamarca</p>

    </footer>

</body>
</html>